@use "../../styles/base" as *;

.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background: $bg-light;

  &__content {
    margin-left: $sidebar-width;
    margin-top: $header-height;
    flex: 1;
    min-width: 0;
    padding: 60px 100px 60px 70px;

    @include respond-to(desktop) {
      margin-left: $sidebar-width;
      padding: 25px 20px;
    }

    @include respond-to(tablet) {
      margin-left: 0;
      padding: 25px 20px;
    }

    @include respond-to(mobile) {
      padding: 24px 8px;
    }
  }
}
